/*  GLOBAL  */
@font-face { 
    font-family: aileron-light; 
    src: url('../fonts/Aileron-Light.otf');
  } 
  @font-face { 
    font-family: aileron-thin; 
    src: url('../fonts/Aileron-Thin.otf');
  } 
  @font-face { 
    font-family: aileron-bold; 
    src: url('../fonts/Aileron-Bold.otf');
  } 
  @font-face { 
    font-family: aileron-heavy; 
    src: url('../fonts/Aileron-Heavy.otf');
  } 
  @font-face { 
    font-family: aileron-italic; 
    src: url('../fonts/Aileron-ThinItalic.otf');
  } 
  
  .content {  
    padding-top: 60px;
    text-align: center;
  }
  #title{
    font-family: 'aileron-heavy';
  }
  h1 {
    font-family: 'aileron-bold';
  }
  p {
    font-family: 'aileron-light';
  }
  
  .boxes .box {  
    display: flex;
    flex-direction: column;
  }

  .box h1 {
    position: absolute;
    left: 0;
    color: #424242
  }
  .box p {
    position: absolute;
    left: 0;
    color: #807e7e;
  }
  
  .box p,
  .box p:after,
  .box p:before,
  .box h1,
  .box h1:after,
  .box h1:before {
    transition: all .15s;
  }
  
  .box:hover{
    cursor: pointer;
  }