/*  GLOBAL  */
@font-face { 
  font-family: aileron-light; 
  src: url('../fonts/Aileron-Light.otf');
} 
@font-face { 
  font-family: aileron-thin; 
  src: url('../fonts/Aileron-Thin.otf');
} 
@font-face { 
  font-family: aileron-bold; 
  src: url('../fonts/Aileron-Bold.otf');
} 
@font-face { 
  font-family: aileron-heavy; 
  src: url('../fonts/Aileron-Heavy.otf');
} 
@font-face { 
  font-family: aileron-italic; 
  src: url('../fonts/Aileron-ThinItalic.otf');
} 

.content {  
  padding-top: 60px;
  text-align: center;
}
#title{
  font-family: 'aileron-heavy';
}
h1 {
  font-family: 'aileron-bold';
}
h2 {
  font-family: 'aileron-light';
  font-size: 30px;
  font-weight: 150;
}
p {
  font-family: 'aileron-light';
}

.boxes{  
  display: flex;
  flex-direction: column;
}

.topic{
  display: flex;
  flex-direction: row;
  
  position: relative;
  overflow: hidden;

  width: 60%;
  background: #ffffff;
  background: linear-gradient(90deg, #ffffff 14%, #ffffff 100%);
  -webkit-box-shadow: 0px 0px 14px 3px #cfcfcf;
  -moz-box-shadow: 0px 0px 14px 3px #cfcfcf;
  box-shadow: 0px 0px 14px 3px #cfcfcf;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 20%;
  margin-bottom: 20px;
}

.label{
  flex: 1;
}
.label p,
.label p:after,
.label p:before,
.label h1,
.label h1:after,
.label h1:before {
  transition: all .15s;
}
.desc{
  color: #424242;
}
.details{
  flex: 1;
}
.row{
  display: flex;
  flex-direction: row;
}

.v-bar {
  position: absolute;
  margin-left: 50%;
  vertical-align: middle;
  height: 70%;
  top: 15%;
  width: 1px;
  
  background-image: -webkit-linear-gradient(top, #ffffff, #000000, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #000000, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #000000, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #000000, #ffffff);
  background-image: linear-gradient(top, #ffffff, #000000, #ffffff);
}

.details h2{
  font-family: 'aileron-italic';
  font-size: 15px;
  color: #606060;
}
.details p{
  font-family: 'aileron-thin';
  font-size: 20px;
}
.type{
  padding: 0px 10px;
  width: 33%;
}

.label:hover{
  cursor: pointer;
}