/* Container */
.container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.2;
}
/* Card */
.card {
    position: absolute;
    background: #fff;
    border-radius: 15px;
    padding: 60px 0 60px 0;
    box-sizing: border-box;
    height: 60vh;
    width: 40vh;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin:auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.3s ease;   
}
.card:first-child {
    background: #fafafa;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
}
.card .title {
    position: relative;
    z-index: 0;
    border-left: 5px solid #d0c7a3;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #d0c7a3;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}
.card .input-container {
    position: relative;
    margin: 0 60px 50px;
}
.card .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 40px;
    border: 0;
    color: #565656;
    font-size: 14px;
    font-weight: 100;
}
.card .input-container input:focus ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
    width: 50%;
}
.card .input-container input:valid ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 100;
    line-height: 40px;
}
.card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
    content: '';
    position: absolute;
    background: #d0c7a3;
    width: 0;
    height: 2px;
    transition: 0.5s ease;
}
.card .input-container .bar:before {
    left: 50%;
}
.card .input-container .bar:after {
    right: 50%;
}
.card .button-container {
    margin: auto;
    text-align: center;
}
.card .button-container .button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.3s ease;
    color: #bababa;
    z-index: 1;
}
.card .button-container .button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #d0c7a3;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    transition: 0.3s ease;
}
.card .button-container .button:hover, .card .button-container .button:active, .card .button-container .button:focus {
    background-color: #d0c7a3;
    color: #ffffff;
}
.card .button-container .button:hover span, .card .button-container .button:active span, .card .button-container .button:focus span {
    color: #565656;
}
.card .button-container .button:active span, .card .button-container .button:focus span {
    color: #fff;
}
.card .button-container .button:active:before, .card .button-container .button:focus:before {
    opacity: 1;
}
.card .footerLogin {
    margin: 40px 0 0;
    color: #bababa;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.card .footerLogin a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease;
}
.card .footerLogin a:hover {
    color: #a2a2a2;
}

/* RESPONSIVE FUN */
@media (min-width: 0px) and (max-width: 350px){
    .card .footerLogin {
        margin: 10px 0 0;
    }
    .card {        
        padding: 40px 0 70px 0;
        width: 50vh;
        height: 75vh;
    }
    .card .input-container {
        margin: 0 60px 30px;
    }
    .card .button-container .button {
        width: 180px;        
        padding: 15px 0;
    }
}

@media (min-width: 350px) and (max-width: 500px) {
    .card .footerLogin {
        margin: 10px 0 0;
    }
    .card {        
        width: 45vh;
        height: 65vh;
    }
    .card .input-container {
        margin: 0 60px 40px;
    }
    .card .button-container .button {
        width: 200px;        
        padding: 17px 0;
    }
}

@media (min-height: 740px) and (max-height: 900px) and (min-width: 370px) {
    .card .footerLogin {
        margin: 10px 0 0;
    }
    .card {
        width: 40vh;
        /* height: 55vh; */
    }
    .card .input-container {
        margin: 0 60px 40px;
    }
    .card .button-container .button {
        width: 200px;        
        padding: 17px 0;
    }
}