/*  GLOBAL  */
@font-face {
  font-family: aileron-light;
  src: url('../fonts/Aileron-Light.otf');
}
@font-face {
  font-family: aileron-thin;
  src: url('../fonts/Aileron-Thin.otf');
}
@font-face {
  font-family: aileron-heavy;
  src: url('../fonts/Aileron-Heavy.otf');
}
@font-face {
  font-family: aileron-bold;
  src: url('../fonts/Aileron-Bold.otf');
}
@font-face {
  font-family: aileron-italic;
  src: url('../fonts/Aileron-ThinItalic.otf');
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'aileron-thin';
}
.page {
  width: 100%;
  height: 100vh;
  margin: 0;
}
.container {
  height: 97%;
  width: 100%;
  margin: 0;
  display: flex;
  padding-bottom: 20px;
}
h1 {
  font-family: 'aileron-bold';
}
h2 {
  text-align: center;
  font-family: 'aileron-light';
  font-size: 30px;
  font-weight: 300;
}
p {
  font-family: 'aileron-light';
  font-size: 20px;
}

.hidden
{
  display: none;
}

/*  NAVBAR  */
nav ul {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(184, 184, 184, 0);
  -moz-box-shadow: 0px 5px 5px 0px rgba(184, 184, 184, 0);
  box-shadow: 0px 5px 5px 0px rgba(184, 184, 184, 0);

  margin: 0 auto;
  width: 100%;
  list-style: none;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  overflow: hidden;
  line-height: 32px;
  text-align: right;
  padding-right: 30px;
  z-index: 1;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 40px;
}
nav img {
  height: 40px; /* RESPO VH ! */
  float: left;
  position: fixed;
  padding: 5px;
  z-index: 2;
}

.active {
  color: #d0c7a3;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .3s;
}
nav ul li a:hover {
  color: rgb(208, 199, 163);
}

/*  [NAVBAR] Animation Stroke */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #E2DDC7;
  height: 4px;
}
nav.stroke ul li a:hover:after {
  width: 50%;
}

/*  [NAVBAR] Hamburger */
label, #hamburger {
  display: none;
}
@media screen and (max-width: 1015px){
   /* Show Hamburger */
   nav label {
    display: inline-block;
    color: #FFFFFF;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 2;
    cursor: pointer;
   }
  nav ul {
    display: none;
    padding-top: 50px;

  }
  nav ul li {
    display: block;
    border-top: 1px solid #333;
    background-color: #FFFFFF;
  }
  nav ul li a {
    text-align: center;
  }
  nav input:checked ~ ul {
    display: block;
  }
  nav.stroke ul li a:hover:after {
    width: 20%;
  }

}



/*  HOMEPAGE */
#home {
  background: rgb(223,212,162);
  background: linear-gradient(0deg, rgba(223,212,162,1) 0%, rgba(254,249,229,1) 96%);
  flex-direction: column;
}
#home img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}
.moto {
  padding-top: 100px;
  font-size: 62px;
  flex: 3;
}
.scroll {
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 10px;
}
.scroll p {
  padding-bottom: 20px;
}

/*  [ARROW] Animations pour le scroll */
.bounce {
   animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

.arrow {
    cursor: pointer;
}
.arrow:active {
    transform: scale(0.9);
}



/* PDUCT */
.box_2 {
  width: 300px;
  margin: 5px;
  padding: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}
.box_3 {
  height: 300px;
  width: 300px;
  margin: 5px;
  padding: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}

/* SPACE FOR FOOTER */
.content {
  min-height: 75%;
}

/*  FOOTER  */
#footer {
  color: #000000;
  background: #ffffff;
  flex-direction: column;
  text-align: center;
}
#footer .links {
  list-style: none;
  display: flex;
  flex-direction: row;
}
#footer li {
  font-family: "aileron-bold";
  flex: 2;
}
#footer .contact {
  font-family: "aileron-italic";
  padding-right: 60px;
}
#footer a {
  text-decoration: none;
  margin: 10px;
  color: #000000;
}
#footer .categories {
  font-size: 20px;
}
#footer .bottom {
  float: bottom;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

.contact-container input[type=text], .contact-container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-container input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-container input[type=submit]:hover {
  background-color: #45a049;
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
  display: none;
  position: fixed;
  top: 20%;
  left: 25%;
  right: 25%;
  z-index: 3;
}

.contact-container #titre {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}