/*  GLOBAL  */
@font-face { 
    font-family: aileron-light; 
    src: url('../fonts/Aileron-Light.otf');
  } 
  @font-face { 
    font-family: aileron-thin; 
    src: url('../fonts/Aileron-Thin.otf');
  } 
  @font-face { 
    font-family: aileron-bold; 
    src: url('../fonts/Aileron-Bold.otf');
  } 
  @font-face { 
    font-family: aileron-heavy; 
    src: url('../fonts/Aileron-Heavy.otf');
  } 
  @font-face { 
    font-family: aileron-italic; 
    src: url('../fonts/Aileron-ThinItalic.otf');
  } 
  
  .content {  
    padding-top: 60px;
    text-align: center;
  }
  #title{
    font-family: 'aileron-heavy';
  }
  h1 {
    font-family: 'aileron-bold';
  }
  h2 {
    font-family: 'aileron-light';
    font-size: 30px;
    font-weight: 150;
  }
  p {
    font-family: 'aileron-light';
    margin-bottom: 0px;
  }
  
  .boxes{  
    display: flex;
    flex-direction: column;
  }
 .input-container {
    position: relative;
    margin: 0 30% 30px;
}
 .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 40px;
    border: 0;
    color: #565656;
    font-size: 14px;
    font-weight: 100;
}
 .input-container input:focus ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
}
 .input-container input:focus ~ .bar:before, .input-container input:focus ~ .bar:after {
    width: 50%;
}
 .input-container input:valid ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
}
 .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 100;
    line-height: 40px;
}
 .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}
 .input-container .bar:before, .input-container .bar:after {
    content: '';
    position: absolute;
    background: #d0c7a3;
    width: 0;
    height: 2px;
    transition: 0.5s ease;
}
 .input-container .bar:before {
    left: 50%;
}
 .input-container .bar:after {
    right: 50%;
}
 .button-container {
    margin: auto;
    text-align: center;
}
 .button-container .button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.3s ease;
    color: #bababa;
    z-index: 1;
}
 .button-container .button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #d0c7a3;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    transition: 0.3s ease;
}
 .button-container .button:hover,  .button-container .button:active, .button-container .button:focus {
    background-color: #d0c7a3;
    color: #ffffff;
}

#home_userpage {
  background: rgb(223,212,162);
  background: linear-gradient(0deg, rgba(223,212,162,1) 0%, rgba(254,249,229,1) 96%);
  flex-direction: column;
  height: 35%;
}
#home_userpage img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 35%;
  width: 100%;
  opacity: 0.2;
}
.moto {
  padding-top: 100px;
  font-size: 62px;
  flex: 3;
}
.scroll {
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 10px;
}
.scroll p {
  padding-bottom: 20px;
}

/*  [ARROW] Animations pour le scroll */
.bounce {
   animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

.arrow {
    cursor: pointer;
}
.arrow:active {
    transform: scale(0.9);
}
