/*  GLOBAL  */
@font-face { 
  font-family: aileron-light; 
  src: url('../fonts/Aileron-Light.otf');
} 
@font-face { 
  font-family: aileron-thin; 
  src: url('../fonts/Aileron-Thin.otf');
} 
@font-face { 
  font-family: aileron-bold; 
  src: url('../fonts/Aileron-Bold.otf');
} 
@font-face { 
  font-family: aileron-heavy; 
  src: url('../fonts/Aileron-Heavy.otf');
} 
@font-face { 
  font-family: aileron-italic; 
  src: url('../fonts/Aileron-ThinItalic.otf');
} 

.content {  
  padding-top: 60px;
  text-align: center;
}
#title{
  font-family: 'aileron-heavy';
}
h1 {
  font-family: 'aileron-bold';
}
h2 {
  font-family: 'aileron-light';
  font-size: 30px;
  font-weight: 150;
}
h1,h2,h4 {
  text-align: center;
}
p {
  font-family: 'aileron-light';
}

.boxes{  
  display: flex;
  flex-direction: column;
}

#nbTests {
  margin-bottom: 20px;
}

#nbTests div {
  border: 1px solid black;
  width: 70%;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#effectue {
  float: none;
  margin-left: 10%;
}

#planifie {
  float: none;
  margin-left: 10%;
}

.panel {
  display: none;
}

.score {
  margin-bottom: 0px;
}
.score_ref {
  margin-top: 0px;
}

.panel_body {
  border: 1px solid black;
  width: 80%;
  margin: 0px 10%;
  text-align: left;
  vertical-align:bottom;
}

.panel_header {
  padding: 10px;
  padding-bottom: 20px;
  height: 20px;
}

.panel_header .left_part {
  float: left;
  padding-top: 5px;
}

.panel_header .right_part {
  float: right;
}

.panel_header .date_part {
  float: left;
  margin-right: 10px;
  width: 100px;
}

.panel_header .date {
  float: left;
  font-size: small;
}

.panel_header .accordion_results {
  padding: 5px 15px;
  border: 1px solid black;
  color: black;
  background-color: #ebebeb;
  float: right;
}

.panel .tab_comp {
  width: 80%;
  margin-left: 10%;
  border-collapse:collapse;
}

.panel .tab_comp th {
  background-color: #606060;
  color: white;
  border: 1px solid black;
  text-align: center;
  padding: 10px 0px;
}

.panel .tab_comp td {
  border: 1px solid black;
  padding: 5px 0px;
}

.panel .tab_comp .titre {
  padding-left: 5px;
}

.panel .tab_comp .eval {
  text-align: center;
}

.panel .detail_comp {
  margin-left: 30%;
  margin-right: 30%;
  border-collapse:collapse;
}

.panel .detail_comp td {
  padding: 5%;
  width: 30%;
  border: 1px solid black;
}

.panel .detail_comp img {
  width: 100%;
  height: 100%;
}

.panel .detail_comp td:hover {
  background-color: mediumturquoise;
  border: 2px solid black;
}

/* RESPONSIVE */
@media (min-width: 700px) {
  #nbTests {
      margin-bottom: 100px;
  }

  #nbTests div {
      width: 25%;
  }

  #effectue {
      float: left;
      margin-left: 10%;
  }

  #planifie {
      float: right;
      margin-left: 0px;
      margin-right: 10%;
  }
}